@font-face {
    font-family: 'LibreBaskerville-Regular';
    src: url('fonts/LibreBaskerville-Regular.woff') format('woff');
}

@font-face {
    font-family: 'LibreBaskerville-Ilatic';
    src: url('fonts/LibreBaskerville-Italic.woff') format('woff');
}


body,
html,
footer {
    margin: 0;
    padding: 0;
    font-family: 'LibreBaskerville-Regular', Arial, sans-serif;
}

/* Barra de navegação */
.navbar {
    background-color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}

.navbar a {
    font-family: 'LibreBaskerville-Regular';
    color: #136a9f;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar img {
    max-width: 100%;
    margin: 0 auto; 
    display: block; 
    margin-top: 10px;
    margin-left: 38%;
}

/* Imagem */
.header-image {
    width: 100%;
    height: auto;
    margin-top: -10px;
}

h1 {
    color: #136a9f;
    font-family: 'LibreBaskerville-Italic';
}

/* Texto central */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

.content a {
    /* Estilo para os links no rodapé */
    font-family: 'LibreBaskerville-Regular';
    color: #136a9f;
    text-decoration: none;
    font-size: 23px;

}



/* Estilo para o rodapé */
footer {
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-size: 20px;
}

/* Estilo para os links no rodapé */
footer a {
    font-family: 'LibreBaskerville-Regular';
    color: #136a9f;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;

}

br {
    margin: 1.5em;
}


/* Barra de Scroll Para Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #2C9BCA #FFFFFF;
}

/* Barra de Scroll para Chrome*/
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:hover {
    background-color: #FFFFFF;
}

*::-webkit-scrollbar-track:active {
    background-color: #C2C2C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #136a9f;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #136a9f;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #136a9f;
}